<div class="my-3 container">
  <h2>fromEvent</h2>
  <br />
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <div class="card-header">Add video</div>
        <div class="card-body">
          <button #addBtn class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <div class="card-header">List</div>
        <div class="card-body">
          <ul id="elcontainer"></ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <div class="card-header">List</div>
        <div class="card-body">
          <ul id="elcontainer2"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
