<div class="container my-3">
  <h2>Take , TakeLast, TakeUntil</h2>
  <br />

  <div class="row">
    <p>randomNames = ['Angular', 'JavaScript', 'React', 'NodeJS'];</p>
    <div class="col-md-4">
      <strong>Ex - 01 | Take</strong>
      <hr />
      <ul id="elContainer"></ul>
    </div>
    <div class="col-md-4">
      <strong>Ex - 02 | TakeLast</strong>
      <hr />
      <ul id="elContainer2"></ul>
    </div>
    <div class="col-md-4">
      <strong>Ex - 03 | TakeUntil(Condition) </strong>
      <hr />
      <ul id="elContainer3"></ul>
    </div>
  </div>
</div>
