<div class="my-3 container">
  <h2>custom</h2>
  <br />

  <div class="row">
    <div class="col-md-6">
      <strong>Ex - 01 (Manual)</strong>
      <hr />
      <ul class="techList error">
        <li>JavaScript</li>
        <li>Angular</li>
        <li>Typescript</li>
      </ul>
    </div>
    <div class="col-md-6">
      <strong>Ex - 02 (custom Interval Observable)</strong>
      <hr />
      <ul class="techList completed">
        <li>JavaScript</li>
        <li>Angular</li>
        <li>Typescript</li>
      </ul>
    </div>
    <br />

    <div class="row">
      <div class="col-md-12">
        <strong>Ex - 03 (Random Names)</strong>
        <hr />
        <p class="bg-light py-2 px-3 border rounded">
          <strong>Data :</strong> of( 'JavaScript' ,'Angular' ,React' )
        </p>
        <p>Current Name : <strong class="text-success">Anup</strong></p>
        <span class="badge bg-success">Success</span>
      </div>
    </div>
  </div>
</div>
