<div class="my-3 container">
  <h2>of and from</h2>
  <br />
  <strong>Ex - 01 (OF)</strong>
  <hr />

  <div class="row">
    <div class="col-md-6">
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data :</strong> of( 'Rajesh' ,'kumar' ,Kushwaha' )
      </p>

      <ul id="elContainer"></ul>
    </div>
    <div class="col-md-6">
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data :</strong> of(&#123; a:'Rajesh' ,b:'kumar' ,c:Kushwaha'
        &#125;)
      </p>

      <ul>
        <li><strong>a : </strong>{{ obsMsg.a }}</li>
        <li><strong>b : </strong>{{ obsMsg.b }}</li>
        <li><strong>c : </strong>{{ obsMsg.c }}</li>
      </ul>
    </div>
  </div>

  <strong>Ex - 02 (From)</strong>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <strong>Array</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data :</strong> of( ['Rajesh' ,'kumar' ,Kushwaha' ])
      </p>

      <ul id="elContainer3"></ul>
    </div>
    <div class="col-md-4">
      <strong>Promise</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data :</strong> Promise to Observable
      </p>

      <ul id="elContainer4"></ul>
    </div>
    <div class="col-md-4">
      <strong>String</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data :</strong> String to Observable
      </p>

      <ul id="elContainer5"></ul>
    </div>
  </div>
</div>
